<%- include('../../layouts/head'); -%>

	<body>
		<%- include('../../layouts/header'); -%>
			<div class="main">
				<p>Info request from the website.</p>
				<div class="table-block">
					<table>
						<tr>
							<th>Name</th>
							<td>
								<%= name %>
							</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>
								<%= email %>
							</td>
						</tr>
						<tr>
							<td class="text-left" colspan="2">
								<%= query %>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<%- include('../../layouts/footer'); -%>

	</body>

	</html>